body{
	background-color: #262852;

}


p { 
	color: white;
	font-family: serif;
    font-weight: 700;
    font-size: 50px;}

span { 
    color: white;
    font-family: monospace;
    font-weight: 100;
    font-size: 15px;}


input {
    background: none;
    border: solid #606b85;
    border-radius: -9;
    border-width: 0 0 1px;
    color: inherit;
    font-size: 16px;
    font-weight: 1;
    line-height: 19px;
    outline: none;
    padding: 1px 0;
    width: 25%;
}

input { 
    color: white;
    font-family: monospace;
    font-weight: 100;
    font-size: 15px;}


